.team {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(2, 200px);
  align-content: center;
  @include adaptive-by-width(margin-right, 200, 50, 1495, 300);

  @media (min-width: 501px) {
    grid-template-rows: repeat(2, 350px);
  }

  &__list {
    margin-right: 40px;
    margin-left: 40px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 186px;

    @media (min-width: 501px) {
      width: 200px;
    }

    @media (min-width: 1000px) {
      width: 294px;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    color: $color-main-snow;
    margin-bottom: 0;
    font-size: 12px;

    @media (min-width: 501px) {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__post {
    display: flex;
    justify-content: center;
    color: $color-main-ash;
    font-size: 12px;

    @media (min-width: 501px) {
      font-size: 20px;
    }
  }
}
